#content {
  @include header-wh-pr-oh;
  background-image: url(../images/main-cube1.png),
                    url(../images/main-cube2.png),
                    url(../images/main-cube3.png),
                    url(../images/main-cube4.png),
                    url(../images/main-cube5.png);
  background-repeat: no-repeat;
  background-position: 1245px 266px, 1585px 215px, 1165px 588px, 1498px 520px, 1196px 731px;

  .responsive-tabs {
    display: none;
  }

  .content-tabs {
    display: flex;
    height: 976px;

    ul#menu-tabs {
      display: block;
      margin-right: 77px;
      text-align: -webkit-center;
      text-align: -moz-center;
      background-image: url('../images/line-1.png');
      background-position: center 231px;
      background-repeat: repeat-y;

      li {
        &.t1 {
          @include menu-li;
        }

        &.t2 {
          @include menu-li;
        }

        &.t3 {
          @include menu-li;
        }
        a {
          display: block;
          background: #fff;
          font-family: 'Brutal Type';
          font-weight: 300;
        	font-size: 18px;
          color: #000;
          text-decoration: none;
          padding: 22px 0;
        }
        .marker {
          display: block;
          width: 35px;
          height: 35px;
          background: url('../images/content-li-cube.png') no-repeat center;
          background-size: cover;
        }

        &.active {
          .marker {
            background-image: url('../images/content-li-cube-active.png');
          }
        }
      }
    }

    .tab-content {
      display: flex;

      .t1 {
        display: block;
        text-align: center;

        h3 {
          font-family: 'Brutal Type';
          font-weight: 300;
					font-size: 30px;
          margin-bottom: 35px;
          margin-top: 51px;
        }
        &> span {
          font-family: 'Brutal Type';
          font-weight: 300;
					font-size: 18px;
          width: 65%;
          display: inline-block;
          margin-bottom: 32px;
        }
        p {
          font-family: 'Brutal Type';
          font-weight: 300;
					font-size: 18px;
        }
        .logo-description {
          display: flex;
          margin-top: 20px;

          ul.left-float {
            display: flex;
            flex-wrap: wrap;
            text-align: left;
            width: 260px;
            margin-right: 33px;
            position: relative;

            li {
              margin-bottom: 27px;

              span {
                font-family: 'Brutal Type';
                font-weight: 300;
      					font-size: 14px;
              }

              p {
                font-weight: 700;

                &.dashed-1::after {
                  display: block;
                  width:130px;
                  content: '';
                  position: absolute;
                  border-bottom: 2px dashed #4f5c88;
                  top:34px;
                  right: -130px;
                }

                &.dashed-1::before {
                  display: block;
                  width:2px;
                  height: 25px;
                  content: '';
                  position: absolute;
                  border-right: 2px dashed #4f5c88;
                  top:34px;
                  right: -130px;
                }

                &.dashed-2::after {
                  display: block;
                  width:75px;
                  content: '';
                  position: absolute;
                  border-bottom: 2px dashed #4f5c88;
                  top:150px;
                  right: -60px;
                }

                &.dashed-3::after {
                  display: block;
                  width:160px;
                  content: '';
                  position: absolute;
                  border-bottom: 2px dashed #4f5c88;
                  top:247px;
                  right: -65px;
                }
              }
            }
          }

          img {
            margin-top: 60px;
            width: 320px;
            height: 270px;
          }

          ul.right-float {
            display: flex;
            flex-wrap: wrap;
            text-align: left;
            width: 260px;
            margin-left: 60px;
            position: relative;

            span {
              font-family: 'Brutal Type';
              font-weight: 300;
    					font-size: 14px;
            }

            p {
              font-weight: 700;

              &.dashed-4::after {
                display: block;
                width:94px;
                content: '';
                position: absolute;
                border-bottom: 2px dashed #4f5c88;
                top:10px;
                right: 261px;
                }

              &.dashed-4::before {
                display: block;
                width:2px;
                height: 50px;
                content: '';
                position: absolute;
                border-right: 2px dashed #4f5c88;
                top:10px;
                right: 354px;
                }

                &.dashed-5::after {
                  display: block;
                  width:83px;
                  content: '';
                  position: absolute;
                  border-bottom: 2px dashed #4f5c88;
                  top:103px;
                  right: 261px;
                  }

                  &.dashed-6::after {
                    display: block;
                    width:112px;
                    content: '';
                    position: absolute;
                    border-bottom: 2px dashed #4f5c88;
                    top:213px;
                    right: 261px;
                    }

                  &.dashed-6::before {
                    display: block;
                    width:2px;
                    height: 50px;
                    content: '';
                    position: absolute;
                    border-right: 2px dashed #4f5c88;
                    top:213px;
                    right: 373px;
                    }

                    &.dashed-7::after {
                      display: block;
                      width:167px;
                      content: '';
                      position: absolute;
                      border-bottom: 2px dashed #4f5c88;
                      top:345px;
                      right: 261px;
                      }

                    &.dashed-7::before {
                      display: block;
                      width:2px;
                      height: 18px;
                      content: '';
                      position: absolute;
                      border-right: 2px dashed #4f5c88;
                      top:329px;
                      right: 428px;
                      }
              }
          }
        }

        p.our-job-task {
          margin-top: 47px;
          margin-bottom: 32px;
        }

        p.more-info-contact {
          margin-bottom: 46px;
        }

        a {
          font-family: 'Brutal Type';
          font-weight: 200;
          font-size: 24px;
          text-decoration: none;
          cursor: pointer;
          border: 1px solid #fff;
          border-radius: 5px;
          padding: 20px 31px;
          background: #414f7e;
          color: #fff;
          transition: 0.5s;
        }
        a:hover {
          background: #0f1b44;
        }
      }

      .t2 {
        display: block;
        text-align: center;

        h3 {
          font-family: 'Brutal Type';
          font-weight: 300;
					font-size: 30px;
          margin-bottom: 35px;
          margin-top: 51px;
        }
        &> span {
          font-family: 'Brutal Type';
          font-weight: 300;
					font-size: 18px;
          width: 65%;
          display: inline-block;
          margin-bottom: 32px;
        }
        p {
          font-family: 'Brutal Type';
          font-weight: 300;
					font-size: 18px;
        }
        .logo-description {
          display: flex;
          margin-top: 20px;

          ul.left-float {
            display: flex;
            flex-wrap: wrap;
            text-align: left;
            width: 260px;
            margin-right: 33px;
            position: relative;

            li {
              margin-bottom: 43px;
              line-height: 1.3;

              span {
                font-family: 'Brutal Type';
                font-weight: 300;
      					font-size: 14px;
              }

              p {
                font-weight: 700;

                &.dashed-1::after {
                  display: block;
                  width:210px;
                  content: '';
                  position: absolute;
                  border-bottom: 2px dashed #4f5c88;
                  top:14px;
                  right: -130px;
                }

                &.dashed-1::before {
                  display: block;
                  width:2px;
                  height: 46px;
                  content: '';
                  position: absolute;
                  border-right: 2px dashed #4f5c88;
                  top:15px;
                  right: -130px;
                }

                &.dashed-2::after {
                  display: block;
                  width:102px;
                  content: '';
                  position: absolute;
                  border-bottom: 2px dashed #4f5c88;
                  top:288px;
                  right: -90px;
                }
              }
            }
          }

          img {
            margin-top: 60px;
            width: 320px;
            height: 270px;
          }

          ul.right-float {
            display: flex;
            flex-wrap: wrap;
            text-align: left;
            width: 260px;
            margin-left: 60px;
            position: relative;

            li {
              margin-bottom: 27px;

              span {
                font-family: 'Brutal Type';
                font-weight: 300;
      					font-size: 14px;
              }

              p {
                font-weight: 700;

                &.dashed-4::after {
                  display: block;
                  width:94px;
                  content: '';
                  position: absolute;
                  border-bottom: 2px dashed #4f5c88;
                  top:10px;
                  right: 261px;
                  }

                &.dashed-4::before {
                  display: block;
                  width:2px;
                  height: 50px;
                  content: '';
                  position: absolute;
                  border-right: 2px dashed #4f5c88;
                  top:10px;
                  right: 354px;
                  }

                  &.dashed-5::after {
                    display: block;
                    width:124px;
                    content: '';
                    position: absolute;
                    border-bottom: 2px dashed #4f5c88;
                    top:175px;
                    right: 261px;
                    }

                    &.dashed-6::after {
                      display: block;
                      width:69px;
                      content: '';
                      position: absolute;
                      border-bottom: 2px dashed #4f5c88;
                      top:308px;
                      right: 261px;
                      }
                }
            }
          }
        }

        p.our-job-task {
          margin-top: 47px;
          margin-bottom: 32px;
        }

        p.more-info-contact {
          margin-bottom: 66px;
        }

        a {
          font-family: 'Brutal Type';
          font-weight: 200;
          font-size: 24px;
          text-decoration: none;
          cursor: pointer;
          border: 1px solid #fff;
          border-radius: 5px;
          padding: 20px 31px;
          background: #414f7e;
          color: #fff;
          transition: 0.5s;
        }
        a:hover {
          background: #0f1b44;
        }
      }

      .t3 {
        display: block;
        text-align: center;

        h3 {
          font-family: 'Brutal Type';
          font-weight: 300;
					font-size: 30px;
          margin-bottom: 35px;
          margin-top: 51px;
        }

        p {
          font-family: 'Brutal Type';
          font-weight: 300;
					font-size: 18px;
          margin-bottom: 20px;
        }

        .logo-description {
          display: flex;
          margin-top: 20px;

          ul.left-float {
            display: flex;
            flex-wrap: wrap;
            text-align: left;
            width: 260px;
            margin-right: 33px;
            position: relative;

            li {
              margin-bottom: 27px;
              width: 85%;

              img {
                width: 193px;
                height: 193px;
                margin-top: 0;
              }

              span {
                font-family: 'Brutal Type';
                font-weight: 300;
      					font-size: 14px;

                &.medium-font {
                  font-size: 18px;
                  font-weight: 700;
                }

                &.dashed-1::after {
                  display: block;
                  width:177px;
                  content: '';
                  position: absolute;
                  border-bottom: 2px dashed #4f5c88;
                  top:34px;
                  right: -130px;

                }

                &.dashed-1::before {
                  display: block;
                  width:2px;
                  height: 66px;
                  content: '';
                  position: absolute;
                  border-right: 2px dashed #4f5c88;
                  top:34px;
                  right: -130px;
                }

                &.dashed-2::after {
                  display: block;
                  width:110px;
                  content: '';
                  position: absolute;
                  border-bottom: 2px dashed #4f5c88;
                  top:257px;
                  right: -47px;
                }

                &.dashed-3::after {
                  display: block;
                  width:180px;
                  content: '';
                  position: absolute;
                  border-bottom: 2px dashed #4f5c88;
                  top:414px;
                  right: -133px;
                }

                &.dashed-3::before {
                  display: block;
                  width:2px;
                  height: 46px;
                  content: '';
                  position: absolute;
                  border-right: 2px dashed #4f5c88;
                  top:370px;
                  right: -133px;
                }
              }
            }
          }

          img {
            margin-top: 100px;
            width: 320px;
            height: 270px;
          }

          ul.right-float {
            display: flex;
            flex-wrap: wrap;
            text-align: left;
            width: 260px;
            margin-left: 60px;
            position: relative;

            li {
              margin-bottom: 27px;

              &.right-height {
                width: 70%;
              }

            img {
              width: 193px;
              height: 193px;
              margin-top: 0;
            }


            span {
              font-family: 'Brutal Type';
              font-weight: 300;
    					font-size: 14px;

              &.medium-font {
                font-size: 18px;
                font-weight: 700;
              }

              &.dashed-4::after {
                display: block;
                width:129px;
                content: '';
                position: absolute;
                border-bottom: 2px dashed #4f5c88;
                top:231px;
                right: 264px;
                }

                &.dashed-5::after {
                  display: block;
                  width:60px;
                  content: '';
                  position: absolute;
                  border-bottom: 2px dashed #4f5c88;
                  top:103px;
                  right: 259px;
                  }

                  &.dashed-6::after {
                    display: block;
                    width:81px;
                    content: '';
                    position: absolute;
                    border-bottom: 2px dashed #4f5c88;
                    top:334px;
                    right: 259px;
                    }
              }
          }
        }
        }

        p.more-info-contact {
          margin-top: 27px;
          margin-bottom: 76px;
          width: 59%;
          margin-left: 21%;
          line-height: 1.3;
        }

        a {
          font-family: 'Brutal Type';
          font-weight: 200;
          font-size: 24px;
          text-decoration: none;
          cursor: pointer;
          border: 1px solid #fff;
          border-radius: 5px;
          padding: 20px 31px;
          background: #414f7e;
          color: #fff;
          transition: 0.5s;
        }
        a:hover {
          background: #0f1b44;
        }
      }
    }
  }
}


@media (min-width: 1440px) and (max-width: 1599px) {
  #content {
  background-position: 945px 266px, 1285px 215px, 865px 588px, 1198px 520px, 896px 731px;
  }
}
@media (min-width: 1360px) and (max-width: 1439px) {
  #content {
  background-position: 945px 266px, 1285px 215px, 865px 588px, 1198px 520px, 896px 731px;
  }
}
@media (min-width: 1280px) and (max-width: 1359px) {
  #content {
  background-position: 945px 266px, 1285px 215px, 865px 588px, 1198px 520px, 896px 731px;
  }
}


@media (min-width: 768px) and (max-width: 1279px) {
  .content-tabs {
    display: none!important;
  }

  .responsive-tabs{
    display: block!important;
    background-image: url('../images/content-bg-img-responsive.png');
    background-position: center 224px;
    background-repeat: no-repeat;

    ul#menu-tabs-responsive {
      display: flex;
      position: relative;
      justify-content: center;

      li {
        padding: 20px 40px;
        background: #65a9df;
        margin: 6px;
        border-radius: 5px;
        transition: 0.5s;
        text-align: center;

        img {
          height: 33px;
        }

        a {
          display: block;
          text-decoration: none;
          color: #fff;
          font-family: 'Brutal Type';
          font-weight: 300;
          font-size: 18px;
        }

        &:hover {
          background: #414f7e;

        }
      }
    }
    .t1, .t2, .t3 {
      margin-bottom: 66px;
      line-height: 22px;

      h3{
        font-family: 'Brutal Type';
        font-weight: 300;
        font-size: 30px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 24px;
      }
      span {
        font-family: 'Brutal Type';
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 32px;

        &.block-type {
          display: block;
        }

        &.bold-span {
          font-weight: 700;
          margin: 0;
        }
      }

      p {
        font-family: 'Brutal Type';
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 35px;

        &:first-child {
          margin: 0;
        }
      }
      li {
        list-style: url('../images/list-style-content-responsive.png');
        margin: 25px 0 25px 80px;

        p {
          font-weight: 700;
        }
      }
      a.go-to-bottom {
        font-family: 'Brutal Type';
        font-weight: 200;
        font-size: 24px;
        text-decoration: none;
        cursor: pointer;
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 20px 31px;
        background: #414f7e;
        color: #fff;
        transition: 0.5s;
        margin-left: 30%;
        display: inline-block;
      }
      a:hover {
        background: #0f1b44;
      }

      .t3-images {
        display: flex;
        justify-content: space-between;
        margin-top: 68px;
        margin-bottom: 47px;

        p.more-info-contact-480px {
          display: none;
        }
      }
    }
  }
}


@media (min-width: 480px) and (max-width: 767px) {
  .content-tabs {
    display: none!important;
  }

  .responsive-tabs{
    display: block!important;
    background-image: url('../images/content-bg-img-responsive.png');
    background-position: center 224px;
    background-repeat: no-repeat;

    ul#menu-tabs-responsive {
      display: flex;
      position: relative;
      justify-content: center;

      li {
        padding: 20px 30px;
        background: #65a9df;
        margin: 6px;
        transition: 0.5s;
        text-align: center;

        img {
          height: 33px;
        }

        a {
          display: block;
          text-decoration: none;
          color: #fff;
          font-family: 'Brutal Type';
          font-weight: 300;
          font-size: 18px;
        }

        &:hover {
          background: #414f7e;

        }
      }
    }
    .t1, .t2, .t3 {
      margin-bottom: 66px;
      line-height: 22px;

      h3{
        font-family: 'Brutal Type';
        font-weight: 300;
        font-size: 30px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 24px;
      }
      span {
        font-family: 'Brutal Type';
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 32px;

        &.block-type {
          display: block;
        }

        &.bold-span {
          font-weight: 700;
          margin: 0;
        }
      }

      p {
        font-family: 'Brutal Type';
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 35px;

        &:first-child {
          margin: 0;
        }
      }
      li {
        list-style: url('../images/list-style-content-responsive.png');
        margin: 25px 0 25px 80px;

        p {
          font-weight: 700;
        }
      }
      a.go-to-bottom {
        font-family: 'Brutal Type';
        font-weight: 200;
        font-size: 24px;
        text-decoration: none;
        cursor: pointer;
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 20px 31px;
        background: #414f7e;
        color: #fff;
        transition: 0.5s;
        margin-left: 24%;
        display: inline-block;
      }
      a:hover {
        background: #0f1b44;
      }
      .more-info-contact {
        display: none;
      }
      .t3-images {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-top: 68px;
        margin-bottom: 47px;

        p.more-info-contact-480px {
          display: flex;
          width: 40%;
          margin-left: 30px;
          margin-top: 30px;
        }

        img {
          display: block;
          margin-left: 30px;
          margin-bottom: 20px;
        }
      }
    }
  }
}



@media (min-width: 414px) and (max-width: 479px) {
  .content-tabs {
    display: none!important;
  }

  .responsive-tabs{
    display: block!important;
    background-image: url('../images/content-bg-img-responsive.png');
    background-position: center 224px;
    background-repeat: no-repeat;

    ul#menu-tabs-responsive {
      display: flex;
      position: relative;
      justify-content: center;

      li {
        padding: 20px 10px;
        background: #65a9df;
        margin: 6px;
        transition: 0.5s;
        text-align: center;
        width: 141px;

        img {
          height: 33px;
        }

        a {
          display: block;
          text-decoration: none;
          color: #fff;
          font-family: 'Brutal Type';
          font-weight: 300;
          font-size: 18px;
        }

        &:hover {
          background: #414f7e;

        }
      }
    }
    .t1, .t2, .t3 {
      margin-bottom: 66px;
      line-height: 22px;

      h3{
        font-family: 'Brutal Type';
        font-weight: 300;
        font-size: 30px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 24px;
      }
      span {
        font-family: 'Brutal Type';
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 32px;

        &.block-type {
          display: block;
        }

        &.bold-span {
          font-weight: 700;
          margin: 0;
        }
      }

      p {
        font-family: 'Brutal Type';
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 35px;

        &:first-child {
          margin: 0;
        }
      }
      li {
        list-style: url('../images/list-style-content-responsive.png');
        margin: 25px 0 25px 80px;

        p {
          font-weight: 700;
        }
      }
      a.go-to-bottom {
        font-family: 'Brutal Type';
        font-weight: 200;
        font-size: 24px;
        text-decoration: none;
        cursor: pointer;
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 20px 31px;
        background: #414f7e;
        color: #fff;
        transition: 0.5s;
        margin-left: 20%;
        display: inline-block;
      }
      a:hover {
        background: #0f1b44;
      }
      .more-info-contact {
        display: none;
      }

      .t3-images {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-top: 68px;
        margin-bottom: 47px;

        p.more-info-contact-480px {
          display: flex;
          width: 40%;
          margin-left: 30px;
          margin-top: 30px;
        }

        img {
          display: block;
          margin-left: 11px;
          margin-bottom: 11px;
        }
      }
    }
  }
}
@media (min-width: 320px) and (max-width: 413px) {
  .content-tabs {
    display: none!important;
  }

  .responsive-tabs{
    display: block!important;
    background-image: url('../images/content-bg-img-responsive.png');
    background-position: center 224px;
    background-repeat: no-repeat;

    ul#menu-tabs-responsive {
      display: flex;
      position: relative;
      justify-content: center;

      li {

        padding: 20px 10px;
        background: #65a9df;
        margin: 6px;
        transition: 0.5s;
        text-align: center;
        width: 141px;

        img {
          height: 33px;
        }

        a {
          display: block;
          text-decoration: none;
          color: #fff;
          font-family: 'Brutal Type';
          font-weight: 300;
          font-size: 14px;
        }

        &:hover {
          background: #414f7e;

        }
      }
    }
    .t1, .t2, .t3 {
      margin-bottom: 66px;
      line-height: 22px;

      h3{
        font-family: 'Brutal Type';
        font-weight: 300;
        font-size: 30px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 24px;
      }
      span {
        font-family: 'Brutal Type';
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 32px;

        &.block-type {
          display: block;
        }

        &.bold-span {
          font-weight: 700;
          margin: 0;
        }
      }

      p {
        font-family: 'Brutal Type';
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 35px;

        &:first-child {
          margin: 0;
        }
      }
      li {
        list-style: url('../images/list-style-content-responsive.png');
        margin: 25px 0 25px 80px;

        p {
          font-weight: 700;
        }
      }
      a.go-to-bottom {
        font-family: 'Brutal Type';
        font-weight: 200;
        font-size: 24px;
        text-decoration: none;
        cursor: pointer;
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 20px 31px;
        background: #414f7e;
        color: #fff;
        transition: 0.5s;
        margin-left: 10%;
        display: inline-block;
      }
      a:hover {
        background: #0f1b44;
      }
      .more-info-contact {
        display: none;
      }

      .t3-images {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 68px;
        margin-bottom: 47px;

        p.more-info-contact-480px {
          display: flex;
          width: 100%;
          margin-left: 0!important;
          margin-top: 30px;
          text-align: center;
        }

        img {
          display: block;
          margin-left: 11px;
          margin-bottom: 11px;
        }
      }
    }
  }
}
